

* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0px;
    font-family: 'poppins';
}
@font-face {
    font-family: 'poppins';
    src: url(./poppins/Poppins-Black.otf) format(otf),
         url(./poppins/Poppins-BlackItalic.otf)format(otf),
         url(./poppins/Poppins-Bold.otf)format(otf),

}


.section1{
    background: linear-gradient(284.85deg,
    rgba(0, 0, 0, 0.2) 5.86%, rgba(0, 0, 0, 0) 95.71%),
    #dcf2da;
    height: 100vh;
    position: relative;
 
}

.section1 h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 70px;
    color: #F7FFE1;
}
.content1 p{
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #757370;
}

.appear {
    opacity: 0;
    transform: translateX(-50%);
    transform-origin: left;
    
}
.appear.is-inview {
    opacity: 1;
    
    transform: none;
    
    
    
    
}

.hero{
    padding:  90px 0 0 0;
}
.content1{
    padding: 100px 0 0 154px;
    
}
.section1 img {
    position: absolute;
    width: 710px;
    height: 730px;
    right: 0px;
    bottom: -10%;
    z-index: 1000;
    
}
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section1 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section1 li {
    padding: 12px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 27px;
    letter-spacing: -0.02em;
    color: #F7FFE1;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section1 li:hover {
    color: rgba(135, 103, 40, 0.58);
    font-size: 23px;
}

.footer {
    width: 100%;
    background-color:  rgba(226, 233, 212, 0.73);
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 150px;
}
.footer p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-left: 70px;
    margin-top: 85px;
    color: #000000;
}
.bn1 {
    width: 151px;
    height: 58px;
    left: 190px;
    top: 422px;
    margin-top: 55px;
    margin-right: 10px;
    background: #95A86E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    color: #FFFAF0;
}
.bn1:hover{
    width: 151px;
    height: 58px;
    left: 190px;
    top: 422px;
    margin-top: 55px;
    margin-right: 10px;
    color: #95A86E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    background-color: #FFFAF0;
}
.bn2 {
    width: 151px;
    height: 58px;
    left: 160px;
    top: 422px;
    margin-top: 55px;
    margin-left: 10px;
    background: rgba(194, 146, 51, 0.58);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    color: #FFFAF0;
}
.bn2:hover{
    width: 151px;
    height: 58px;
    left: 160px;
    top: 422px;
    margin-top: 55px;
    margin-left: 10px;
    background: #FFFAF0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    color: rgba(194, 146, 51, 0.58);
}
.section2{
    background: linear-gradient(226.65deg, rgba(0, 0, 0, 0.2) 0.65%, rgba(0, 0, 0, 0) 52.01%), #DFDED0;
    padding-top: 70px;
    padding-right: 40px;
    height: 100vh;
    position: relative;
 
}
.section2 li {
    padding: 12px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 27px;
    letter-spacing: -0.02em;
    color: #F7FFE1;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.section2 li:hover {
    color: rgba(135, 103, 40, 0.58);
    font-size: 23px;
}
.section2 img {
   
    width: 400px;
    height: 400px;
    
    
    
    
}
.section2 .container {
    display: flex;
}
.section2 ul {
    display: flex;
    justify-content: flex-end;
    
    
}