* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
body{
    
    color: whitesmoke;
    background-color: black;
}
.bande {
    height: 3px;
    width: 100%;
    background-color: rgb(34, 34, 34);
}
img {
    width: 100px;
}
button {
    background-color: rgb(219, 3, 3);
    border: 0px;
    padding: 15px;
    border-radius: 4px;
    color: whitesmoke;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 500;

}
input {
    background-color: rgb(60, 60, 60);
    padding: 15px 10px;
    margin-top: 20px;
    border-radius: 4px;
    border: none;

}
h1 {
    margin-top: 2em;
    font-size: 2rem;
    font-weight: 600;
}
h2 {
    margin: 10%  ;
    font-size: 1.5rem;
    font-weight: 600;
}
p {
    margin: 1rem 2rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4em;
}
header {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.option {
    color:  rgb(60, 60, 60);
}
.info {
    color:  rgb(60, 60, 60);
    margin-bottom: 60px;
}