* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
body{

    color: whitesmoke;
    text-align: center;
    background-color: black;
}
button {
    background-color: red;
    border: 0px;
    padding: 5px;
    border-radius: 3px;
}
.bande {
    height: 5px;
    width: 100%;
    background-color: rgb(34, 34, 34);
}
nav img {
    width: 100px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    
}
h1 {
    margin-top: 2em;
    font-size: 1.5rem;
    font-weight: 600;
}
h2 {
    margin: 10%  ;
    font-size: 1.5rem;
    font-weight: 600;
}
p {
    margin: 1rem 2rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4em;
}

.hero {
    display: flex;
    flex-direction: column;
}
 .section1  {
    background-image: url(./img/Netflix-Background-1.jpeg);
    background-size: cover;
    position: relative;
    z-index: 1;
    
}
.section1::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.658);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    

}

.hero input {
    max-width: 320px;
    width: 80%;
    background-color: rgb(241, 241, 241);
    margin: 0 auto 1em;
    padding: 5px;
}
.hero button {
    width: 100px;
    margin: 0 auto 3rem;
    padding: 7px;
    color: whitesmoke;
    
}
.section2 , .section3{
    position: relative;
}
 .tele {
    width: 80%;
    margin-bottom: 10%;
 }
 .video {
    position: absolute;
    width: 59%;
    left: 20%;
    bottom: 10%;
    transform: translateY(-55px) translateX(1px);

 }
 .section3{
    position: relative;
 }
.download {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    border: 4px solid rgb(47, 47, 47);
    border-radius: 8px;
    padding: 10px;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;

}
.download p {
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 1em;
}
 #iphone {
    width: 90%;
    padding-bottom: 50px;
 }
 #st-icon {
    height: 60px;
    padding-right: 10px;
 }
 #gif {
    height: 60px;
    
 }
 #download {
    color: rgb(74, 74, 227);
 }
 .section4 img {
    width: 80%;
 }
 .section4 h2 {
    padding-top: 10%;
 }
 .section5 img {
    width: 100%;
    padding-bottom: 10%;
 }
.div {
    display: flex;
    justify-content: space-between;
    background-color: rgb(38, 38, 38);
    margin: 5px auto;
    width: 95%;
    text-align: left;
}
.faq input {
    max-width: 320px;
    width: 80%;
    background-color: rgb(241, 241, 241);
    margin: 0 auto 1em;
    padding: 5px;
}
.faq button {
    width: 100px;
    margin: 0 auto 3rem;
    padding: 7px;
    color: whitesmoke;
    
}
footer {
    color: rgb(105, 105, 105);
    
}
h6 {
    font-size: 1em;
    margin: 20px 10px;
    font-weight: 600;
}
footer p {
    display: inline-block;
    width: 35%;
    text-align: left;
    padding: 5px 8px;
    margin: 0;
    font-size: 0.8em;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

